body {
    margin: 0;
    padding: 0;
}

.background {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.background::before {
    content: '';
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    animation: backgroundAnimation 50s infinite;
    background-image: url('https://pbs.twimg.com/media/EO1yWzbXUAA-VmS.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(2px); 
    z-index: -1;
}

.jumbotron {
    background: none; 
}

@keyframes backgroundAnimation {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

h1 {
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    margin: 0;
}
