@import url('https://fonts.cdnfonts.com/css/hobbiton-brush-hand');

.navbar-custom {
    height: 100px;
}

.nav-link {
    transition: color 0.3s ease-in-out; 
}
  
.nav-link:hover {
    color: #fff; 
}

.navbar .navbar-brand img {
    margin-right: 10px; /* Adjust the margin as needed */
}

.title {
    color: #fff;
    text-align: left;
    font-family: 'Hobbiton Brushhand', sans-serif;
}